.sj_visual_elements th, .sj_visual_elements td{
	/*padding: .75em;*/
	table-layout: fixed;
	padding: 0px;
}

.sj_visual_elements{
	table-layout: fixed;
	min-width: 350px !important;
}

.js_visual_elements_default_element{
	overflow-x: hidden;
	overflow-y: hidden;
}

 .sj_visual_elements td{
	border: 1px solid #E0F2F7;
	overflow-x: hidden;
	overflow-y: hidden;
 }

.js_visual_elements_default_element{
	padding: .75em;
	border: 1px solid rgba( 0, 0, 0, 0);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: rgba( 0, 0, 0, 0 );
	height: 100px;
	overflow-y: hidden;
}

.js_visual_elements_default_element:hover{
	cursor: pointer;
	border: 1px solid #E0F2F7;
	background-image: none !important;
	color: rgba( 0, 0, 0, 1 );
}

.js_visual_elements_default_element_parent{
	position: relative;
}

.js_visual_elements_default_element_delete{
	position: absolute;
	left: calc( 100% - 35px);
}

.sj_delete_element:hover{
	cursor: pointer;
	background-color: #BDBDBD;
	border: 0px solid #BDBDBD;
}


.js_container_table{
	overflow-x: scroll;
	padding-right: 0px;
	padding-left: 0px;
}

.sj_delete_element {
	border: 2px solid #e9ecef;
	padding: 5px;
	border-bottom-left-radius: 20px;
	background-color: #e9ecef;
	color: #343a40;
}

.sj-paginator{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: .375rem .75rem;
	text-align: center;
}
.sj-paginator-left{
	float:left;
	margin-left: 20px;
}
.sj-paginator-right{
	float:right;
	margin-right: 20px;
}

.sj-paginator-counter{
	display: inline-block;
}

.sj_search_style{
	margin: 0.375em;
	margin-bottom: 10px;
	padding: 0.275em;
	border: 1px solid #BBB;
	width: calc( 100% - ( 0.375em + 0.275em ) );
	border-radius: 4px 4px;
}